@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;

}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}


#logo {
    color: #4c4c4c;
    font-size: 300%;
    float: left;
    text-decoration: none;
}

#menu,
#logo {
    line-height: 100px;
}

#logo a {
    text-decoration: none;
}

#logo a:hover {
    text-decoration: none;

}

#menu {
    font-size: 120%;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 20px;

}

#menu a {
    text-decoration: none;
    color: black;

}

#menu a:hover {
    border-bottom: 1px solid black;
}


footer {
    height: 200px;
    position: fixed;
    margin-bottom: 20%;
    width: 100%;
    text-align: center;
    bottom: 0;
}


.foot li {
    color: #4c4c4c;
    display: inline-block;
    text-decoration: none;
    padding: 40px;
}

.foot a {
    text-decoration: none;
    color: #4c4c4c;
}

.foot i {
    font-size: 150%;
}


#photo img {
    width: 150px;
    column-count: 3;
    column-gap: 0px;
}

#main-image {
    height: 850px;
    width: 80%;
    background: url(../images/gashi-main.jpg) no-repeat center center;
}