@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}


#logo {
    color: #4c4c4c;
    font-size: 300%;
    float: left;
    text-decoration: none;
}

#menu,
#logo {
    line-height: 100px;
}

#logo a {
    text-decoration: none;
}

#logo a:hover {
    text-decoration: none;

}

#menu {
    font-size: 120%;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}